body {
    font-family: 'roboto', sans-serif;
    text-align: center;
    background-color: rgb(201, 237, 240);
}

#dealer-cards img {
    width: 124px;
    height: 189px;
}

#player-cards img {
    width: 124px;
    height: 189px;
}

#hit-button {
    background-color: green;
    width: 99px;
    height: 60px;
    font-size: 15px;
    font-family: 'Arial', sans-serif;
}

#stand-button {
    background-color: red;
    width: 99px; 
    height: 60px;
    font-size: 15px; 
    font-family: 'Arial', sans-serif;
}

#double-button {
    background-color: orange;
    width: 99px;
    height: 60px;
    font-size: 15px; 
    font-family: 'Roboto', sans-serif; 
}

#split-button {
    background-color: yellow;
    width: 99px;
    height: 60px;
    font-size: 15px; 
    font-family: 'Ubuntu', sans-serif; 
}