body {
    font-family: 'Roboto Serif', serif;
    text-align: center;
    background-color: aqua
}

#game-container {
    background-color: white;
    width: 500px;
    height: 700px;

}

#dealer-cards img {
    width: 124px;
    height: 189px;
}

#player-cards img {
    width: 124px;
    height: 189px;
}

#hit-button {
    background-color: green;
    font-size: 15px;
    font-family: 'Arial', sans-serif;
}

#stand-button {
    background-color: red;
    font-size: 15px; 
    font-family: 'Arial', sans-serif;
}

#double-button {
    background-color: orange;
    font-size: 15px; 
    font-family: 'Roboto', sans-serif; 
}

#split-button {
    background-color: yellow;
    font-size: 15px; 
    font-family: 'Ubuntu', sans-serif; 
}

#insurance-button {
    background-color: fuchsia;
    font-size: 15px; 
    font-family: 'Roboto', sans-serif; 
}

#cheat-link {
    font-family: 'Roboto Serif', serif;
}
